<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %> <!--Esta etiqueta de ejs es la cual se le pasa solo contenido html puro -->
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %> <!--Importamos los parciales que fuimos haciendo-->
    </header>
    <main>
        <div class="jombotron">
            <h2> Variable</h2>
            <p>
                <%= tagline %> <!-- Asi accedemos a las variables que mandamos desde el servidor-->
            </p>

            <ul>
                <% pets.forEach((pet) => { %> <!-- Esta etiqueta es xq es codigo JS literal-->
                    <li> 
                        <strong>
                            <%= pet.name %>
                        </strong> representa a <%= pet.organization %>, nació <%= pet.birth_year %> <!--Estas etiquetaws xq son codigo que hay que reeenderizar-->
                    </li>
                    <% }); %> <!-- esta etiqueta xq es codigo js literal-->
            </ul> 
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %> 
    </footer>
</body>
</html>